<!DOCTYPE html>
<html>
    <head>
      <link rel='stylesheet' href='/bootstrap/css/bootstrap.min.css'/>
      <link rel='stylesheet' href='/stylesheets/tripplanner.css'/>
      <script src="/jquery/jquery.min.js" defer></script>
      <script src="/bootstrap/js/bootstrap.min.js" defer></script>
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCGfiKf-i7yAU7RDqlxi-7E9puQ5Hq2i2o&sensor=true"></script>
      <script src="/js/index.js" defer></script>
    </head>
    <body>

    {% block navbar %}
        {% include 'navbar.html' %}
    {% endblock %}   

    {% block body %}
    {% endblock %}
    </body>

</html>